# ========================
# Android & Gradle Stuff
# ========================
.gradle/
build/
*/build/
captures/
local.properties
*.apk
*.ap_

# ========================
# IntelliJ / Android Studio
# ========================
.idea/
*.iml

# ========================
# System Files
# ========================
.DS_Store
Thumbs.db

# ========================
# Log Files
# ========================
*.log

# ========================
# Firebase / Crashlytics
# ========================
crashlytics-build.properties
fabric.properties
google-services.json

# ========================
# Other
# ========================
*.keystore
*.jks
